{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Recipe</h3>
<form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
    <div class="row card-panel grey lighten-5">

        <!-- recipe name -->
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="recipe_name" name="recipe_name" minlength="1" maxlength="200" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
            <!-- recipe chef -->
            <div class="input-field col s12 m6">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="recipe_chef" name="recipe_chef" minlength="1" maxlength="50" type="text" class="validate"
                    required>
                <label for="recipe_chef">Recipe Chef</label>
            </div>
        </div>
        <!-- recipe image url -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="recipe_image" name="recipe_image" minlength="1" maxlength="200" type="text" class="validate"
                    placeholder="Please provide URL for recipe image" required>
                <label for="recipe_image">Recipe Image</label>
            </div>
        </div>
        <!-- recipe summary -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="recipe_summary" name="recipe_summary" minlength="1" maxlength="50"
                    class="materialize-textarea validate" placeholder="max 50 characters" required></textarea>
                <label for="recipe_summary">Recipe Summary</label>
            </div>
        </div>

        <!-- prep and cook times -->
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="far fa-clock prefix light-blue-text text-darken-4"></i>
                <input id="prep_time" name="prep_time" minlength="1" maxlength="20" type="text" class="validate"
                    pattern="[0-9]" placeholder="Input numbers only" required>
                <label for="prep_time">Prep Time (mins) - Input numbers only</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="far fa-clock prefix light-blue-text text-darken-4"></i>
                <input id="cook_time" name="cook_time" minlength="1" maxlength="20" type="text" class="validate"
                    pattern="[0-9]" placeholder="Input numbers only" required>
                <label for="cook_time">Cook Time (mins)</label>
            </div>
        </div>
        <!-- ingredients -->
        <!-- <h5>Ingredients</h5> -->
        <div class="row ingredient-row valign-wrapper">

            <div class="input-field col s2">
                <i class="fas fa-list-ul prefix light-blue-text text-darken-4"></i>
                <input id="ingredients" name="ingredients" type="text" class="validate"
                    placeholder="Add Ingredient Here" required>
                <label for="ingredients">Ingredients</label>
            </div>
            <div class="input-field col s2">

                <input id="quantity" name="quantity" type="text" class="validate" placeholder="Add Quantity Here"
                    required>
                <label for="quantity">Quantities</label>
            </div>
            <div class="input-field col s5">

                <input id="ingredient-prep" name="ingredient-prep" type="text" class="validate"
                    placeholder="Preparation instructions" required>
                <label for="ingredient-prep">Preparation instructions</label>
            </div>
            <div class="col s3">
                <button type="button" id="remove-ingredient" class="waves-effect waves-light btn red">Remove</button>
            </div>
        </div>

        <div class="row" id="add-ingredient-row">
            <div class="col s12">
                <button type="button" id="add-ingredient" class="waves-effect waves-light btn tm-dark-green-bg">Add
                    Another
                    Ingredient</button>
            </div>
        </div>


        <!-- <div class="input-field col s6 m5">
                <textarea id="quantity" name="quantity" minlength="1" maxlength="50" type="text" class="validate"
                    pattern="[a-zA-Z0-9]" placeholder="eg: 2, finely sliced" required></textarea>
                <label for="quantity">Quantity</label>
            </div> -->


        <!-- method -->
        <!-- <h5>Method</h5> -->
        <div class="row method-row valign-wrapper">

            <div class="input-field col s8">
                <i class="fas fa-list-ul prefix light-blue-text text-darken-4"></i>

                <textarea id="method" name="method" type="text" class="validate" placeholder="Add Step Here"
                    required></textarea>
                <label for="method">Method</label>
            </div>
            <div class="col s4">
                <button type="button" id="remove-step" class="waves-effect waves-light btn red">Remove</button>
            </div>
        </div>

        <div class="row" id="add-step-row">
            <div class="col s12">
                <button type="button" id="add-step" class="waves-effect waves-light btn tm-dark-green-bg">Add Another
                    Step</button>
            </div>
        </div>

        <!-- dietary checkboxes -->

        <div class="row">
            <h5>Dietary Info</h5>
            <div class="col s12">
                <label for="vegetarian">
                    <input type="checkbox" name="vegetarian" id="vegetarian" />
                    <span>Vegetarian</span>
                </label>
            </div>
            <div class="col s12">
                <label for="vegan">
                    <input type="checkbox" name="vegan" id="vegan" />
                    <span>Vegan</span>
                </label>
            </div>
        </div>



    </div>
    <!-- submit -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn btn-large tm-dark-green-bg text-shaddow">Add Recipe <i
                    class="fas fa-plus-square right"></i></button>
        </div>
    </div>
</form>


{% endblock %}