{% extends "base.html" %}

{% block content %}

<h2 class="center-align">Admin Area</h2>
<p class="center-align">A world of access and wonder for the lucky admins of this site!</p>

<ul class="collapsible">
    {% for user in users %}
    {% if user.username != session.user %}
    <li>
        <div class="collapsible-header valign-wrapper row">

            <div class="col s4">
                <i class="fas fa-user prefix tm-brown-text"></i><span>{{ user.username }}</span>
            </div>
            <div class="col s4">
                {% if user.username != "admin" %}
                {% if user.admin %}
                <a href="{{ url_for('admin_status', username=user.username) }}"
                    class="waves-effect waves-light btn tm-brown-bg center-align">Remove Admin<i
                        class="fas fa-user-cog right"></i></a>
                {% else %}
                <a href="{{ url_for('admin_status', username=user.username) }}"
                    class="waves-effect waves-light btn tm-dark-green-bg center-align">Make Admin<i
                        class="fas fa-user-cog right"></i></a>
                {% endif %}
                {% endif %}
            </div>
            <div class="col s4">
                {% if user.username != "admin" %}
                <a href="#{{ user.username }}_delete_user_modal"
                    class="modal-trigger waves-effect waves-light btn red center-align">Delete
                    User<i class="fas fa-minus-square right"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12 xl6">
                    <div class="row">
                        <div class="col s12">
                            <h3 class="center-align">{{ user.username|title }}'s Recipes</h3>
                        </div>
                    </div>
                    <ul class="tabs">
                        <li class="tab col s6"><a class="active"
                                href="#{{ user.username }}_favourite_recipes_tab">Favourites</a></li>
                        <li class="tab col s6"><a href="#{{ user.username }}_uploaded_recipes_tab">Uploaded</a></li>
                    </ul>

                    <div id="{{ user.username }}_favourite_recipes_tab" class="col s12">

                        {% for recipe in recipes %}

                        {% if user.username in recipe.user_favourite %}

                        {% include "recipe_card.html" %}

                        {% endif %}

                        {% endfor %}
                    </div>

                    <div id="{{ user.username }}_uploaded_recipes_tab" class="col s12">

                        {% for recipe in recipes %}

                        {% if user.username in recipe.uploaded_by %}

                        {% include "recipe_card.html" %}

                        {% endif %}

                        {% endfor %}

                    </div>

                </div>

                <div class="col s12 xl6">
                    <div class="row">
                        <div class="col s12">
                            <span>
                                <h3 class="center-align">{{ user.username|title }}'s Pantry</h3>
                            </span>
                        </div>
                    </div>

                    <div class="card user-ingredients-card r10">

                        <div class="card-content">

                            <h5 class="center-align">Ingredients</h5>
                            <ul class="center-align">

                                {% for ingredient in user.user_ingredients %}

                                <li><strong>{{ ingredient.title() }}</strong></li>

                                {% endfor %}


                            </ul>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </li>

    <!-- Delete user Modal Structure -->
    <div id="{{ user.username }}_delete_user_modal" class="modal">
        <div class="modal-content center-align">
            <h4>Are you sure you want to delete {{ user.username }}'s profile?</h4> <br>
            <h4>This cannot be undone!</h4>

        </div>
        <div class="modal-footer">
            <div class="center-align">
                <a href="{{ url_for('admin_delete_user', username=user.username) }}"
                    class="waves-effect waves-light btn btn-large red">Yes! Delete this user <i
                        class="fas fa-minus-square right"></i></a>
                <a href="#!" class="waves-effect waves-light btn btn-large modal-close tm-dark-green-bg">No, I've
                    changed my
                    mind</a>
            </div>

        </div>
        </form>
    </div>


    {% endif %}
    {% endfor %}

</ul>





{% endblock %}