<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="sustainable_supper_club"
        content="A recipe search website dedicated to healthy and sustainable eating and community building">
    <link rel="icon" type="image/png" href="static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <title>Sustainable Supper Club</title>
</head>

<body class="tm-sage-bg">
    <header>
        <!-- Top Navbar -->
        <div class="navbar-fixed">
            <nav class="nav-extended text-shadow tm-dark-green-bg">
                <div class="nav-wrapper">
                    <a href="{{ url_for('index') }}" class="brand-logo">SSC</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                        <!-- check if user is logged in -->
                        {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                        <!-- check if user has admin status -->
                        {% if session.admin %}
                        <li><a href="{{ url_for('admin') }}">Admin Area</a></li>
                        {% endif %}

                    </ul>
                </div>
            </nav>
        </div>
        <!-- mobile sidenav -->
        <ul class="sidenav text-shadow tm-dark-green-bg white-text" id="mobile-demo">
            <li>
                <h4 class="center-align">SSC</h4>
            </li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            <!-- check if user is logged in -->
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            <!-- check if user has admin status -->
            {% if session.admin %}
            <li><a href="{{ url_for('admin') }}">Admin Area</a></li>
            {% endif %}

        </ul>

    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="tm-brown-bg white-text center-align text-shadow">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith%}

    </section>

    <main class="container">
        {% block content%}
        {% endblock %}
    </main>

    <footer class="page-footer tm-dark-green-bg">
        <div class="container">
            <div class="row center-align">
                <!-- <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div> -->

                <!-- <h5 class="white-text">Links</h5> -->

                <div class="col s3">
                    <a class="grey-text text-lighten-3" href="https://www.facebook.com/"><i
                            class="fab fa-facebook"></i><span class="sr-only">Facebook</span></a>
                </div>
                <div class="col s3">
                    <a class="grey-text text-lighten-3" href="https://www.instagram.com/"><i
                            class="fab fa-instagram"></i><span class="sr-only">Instagram</span></a>
                </div>
                <div class="col s3">
                    <a class="grey-text text-lighten-3" href="https://www.youtube.com/"><i
                            class="fab fa-youtube"></i><span class="sr-only">Youtube</span></a>
                </div>
                <div class="col s3">
                    <a class="grey-text text-lighten-3" href="https://www.tiktok.com/"><i
                            class="fab fa-tiktok"></i><span class="sr-only">TikTok</span></a>
                </div>


            </div>
        </div>
        <div class="footer-copyright tm-mid-green-bg">
            <div class="container center-align">
                © 2021 Copyright Sustainable Supper Club

            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>