{% extends "base.html" %}

{% block content %}

<!-- landing page slider with food images -->
<!-- slider template copied from materialize and modified -->
<div class="slider">
    <h2 class="slider-heading landing-title r10 tm-brown-bg opacity-90 white-text">Sustainable<br>Supper<br>Club
    </h2>
    <div class="row slider-row">

    </div>
    <ul class="slides">
        <li>
            <img src="static/images/pexels-daria-shevtsova-704569.jpg">
        </li>
        <li>
            <img src="static/images/pexels-daria-shevtsova-1070053.jpg">
        </li>
        <li>
            <img src="static/images/pexels-daria-shevtsova-1580466.jpg">
        </li>
        <li>
            <img src="static/images/pexels-ella-olsson-1640777.jpg">
        </li>
        <li>
            <img src="static/images/pexels-ella-olsson-3026808.jpg">
        </li>
        <li>
            <img src="static/images/pexels-lumn-604969.jpg">
        </li>
        <li>
            <img src="static/images/pexels-monicore-1391487.jpg">
        </li>
        <li>
            <img src="static/images/pexels-pixabay-262967.jpg">
        </li>
        <li>
            <img src="static/images/pexels-ella-olsson-1640777.jpg">
        </li>
        <li>
            <img src="static/images/pexels-sebastian-coman-photography-3590401.jpg">
        </li>
    </ul>

</div>

<!-- button to link to recipes page -->
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('recipes') }}" class="waves-effect waves-light btn btn-large r10 tm-dark-green-bg">Get
            Started</a>
    </div>
</div>

<!-- organisation ethos and about section -->
<div class="row">
    <div class="col s12 l6">
        <div class="landing-summary r10 tm-brown-bg opacity-90 white-text">
            <p>Here at the Sustainable Supper Club we hope to provide information and inspiration to people who
                are
                looking to reduced the impact their cooking habits have on the planet.</p>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="landing-summary r10 tm-brown-bg opacity-90 white-text">
            <p>Along with our community, the recipes we curate give our users deliecious ways of eating less meat or
                processed products. As well as providing a handy tool to use up the leftovers in your pantry to reduce
                waste.
            </p>
        </div>
    </div>
</div>

<!-- top 3 recipes section -->
<div class="row">
    <div class="col s12 m10 offset-m1 l6">

        <!-- top 3 recipes added as favourite by registered users -->
        <h2 class="center-align">User Favourites</h2>

        <div class="recipe-column col s12">
            {% for recipe in top_recipes %}

            {% include "recipe_card.html" %}

            {% endfor %}
        </div>

    </div>

    <div class="col s12 m10 offset-m1 l6">

        <!-- top 3 recipes logged as being made all time by our users -->
        <h2 class="center-align">Most Made</h2>

        <div class="recipe-column col s12">
            {% for recipe in most_made %}

            {% include "recipe_card.html" %}

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}