{% extends "base.html" %}

{% block content %}

<div class="slider">
    <h1 class="slider-heading">Sustainable Supper Club</h1>
    <div class="row slider-row">

    </div>
    <ul class="slides">
        <li>
            <img src="static/images/pexels-daria-shevtsova-704569.jpg">
        </li>
        <li>
            <img src="static/images/pexels-daria-shevtsova-1070053.jpg">
        </li>
        <li>
            <img src="static/images/pexels-daria-shevtsova-1580466.jpg">
        </li>
        <li>
            <img src="static/images/pexels-ella-olsson-1640777.jpg">
        </li>
        <li>
            <img src="static/images/pexels-ella-olsson-3026808.jpg">
        </li>
        <li>
            <img src="static/images/pexels-lumn-604969.jpg">
        </li>
        <li>
            <img src="static/images/pexels-monicore-1391487.jpg">
        </li>
        <li>
            <img src="static/images/pexels-pixabay-262967.jpg">
        </li>
        <li>
            <img src="static/images/pexels-ella-olsson-1640777.jpg">
        </li>
        <li>
            <img src="static/images/pexels-sebastian-coman-photography-3590401.jpg">
        </li>
    </ul>

</div>

<!-- <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-daria-shevtsova-704569.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-daria-shevtsova-1070053.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-daria-shevtsova-1580466.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-ella-olsson-1640777.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-ella-olsson-3026808.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-lumn-604969.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-monicore-1391487.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-pixabay-262967.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-ella-olsson-1640777.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/images/pexels-sebastian-coman-photography-3590401.jpg">
    </div>

</div> -->

{% endblock %}