{% extends "base.html" %}

{% block content %}

<!-- page header -->
<h3 class="center-align">Login</h3>

<!-- form for user to login. Template copied from materialize and modified. -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">

        <!-- csrf token for use by wtforms validation in the backend -->
        {{ form.csrf_token }}

        <div class="card-panel">

            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix tm-brown-text"></i>
                    <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$"
                        placeholder="5-15 characters, alphanumeric only" class="validate" minlength="5" maxlength="15"
                        aria-label="username input">
                    <label for="username">Username</label>
                </div>
            </div>

            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix tm-brown-text"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" placeholder="5-15 characters, alphanumeric only" class="validate"
                        aria-label="password input">
                    <label for="password">Password</label>
                </div>
            </div>

            <!-- login -->
            <div class="row">
                <button type="submit" class="col s12 btn-large tm-dark-green-bg text-shadow" aria-label="login submit">
                    Login <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- prompt to register if not already a user -->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Not signed up?
            <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4"
                aria-label="register button">Register
                here</a>
        </p>
    </div>
</div>

{% endblock %}