{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">

        <h2 class="center-align">
            {{ username|title }}'s Profile
        </h2>

    </div>
</div>
<!-- <div class="row">
    <div class="col s12 m6 center-align">
        <a href="{{ url_for('add_recipe') }}" action="POST" class="waves-effect waves-light btn tm-dark-green-bg">Add
            Recipe</a>
    </div>
    <div class="col s12 m6 center-align">
        <a class="waves-effect waves-light btn tm-dark-green-bg modal-trigger"
            href="{{ url_for('user_ingredients', username=session['user']) }}">View your pantry</a>
        <a class="waves-effect waves-light btn tm-dark-green-bg modal-trigger" href="#user_ingredients_modal">Update
            your
            ingredients</a>
    </div>
</div> -->

<div class="row">
    <div class="col s12 xl6">
        <div class="row">
            <div class="col s12">
                <h3 class="center-align">Your Recipes <a href="{{ url_for('add_recipe') }}" action="POST"
                        class="waves-effect waves-light btn tm-dark-green-bg">Add</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a class="active" href="#favourite_recipes_tab">Favourites</a></li>
                    <li class="tab col s6"><a href="#uploaded_recipes_tab">Uploaded</a></li>
                </ul>

            </div>
            <div id="favourite_recipes_tab" class="col s12">
                {% for recipe in recipes %}
                {% if username|lower in recipe.user_favourite %}

                {% include "recipe_card.html" %}

                {% endif %}

                {% endfor %}

            </div>

            <div id="uploaded_recipes_tab" class="col s12">

                {% for recipe in recipes %}
                {% if recipe.uploaded_by|lower == username|lower %}

                {% include "recipe_card.html" %}

                {% endif %}

                {% endfor %}
            </div>

        </div>


    </div>

    <div class="col s12 xl6">
        <div class="row">
            <div class="col s12">
                <span>
                    <h3 class="center-align">Pantry <a
                            class="waves-effect waves-light btn tm-dark-green-bg modal-trigger"
                            href="#user_ingredients_modal">Update</a></h3>
                </span>
            </div>
        </div>

        <div class="card user-ingredients-card r10">

            <div class="card-content">

                <span class="card-title">
                    <small class="text-italic">Update what you've got in your kitchen to get recipes to use up
                        your
                        leftovers</small>
                </span>


                <h5 class="center-align">Your Ingredients</h5>
                <ul class="center-align">

                    {% for ingredient in user_ingredients %}

                    <li><strong>{{ ingredient.title() }}</strong></li>

                    {% endfor %}


                </ul>

            </div>
            <div class="card-action center-align">

                <a class="waves-effect waves-light btn tm-dark-green-bg modal-trigger"
                    href="#user_ingredients_modal">View Matching Recipes</a>

            </div>

        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="user_ingredients_modal" class="modal">
    <div class="modal-content">
        <form class="col s12" method="POST" action="{{ url_for('update_ingredients', username=session['user']) }}">
            <div id="user-ingredient-row-parent">

                {% if user_ingredients != [] %}

                {% for ingredient in user_ingredients %}

                <div class="row user-ingredient-row valign-wrapper">

                    <div class="input-field col s8">

                        <i class="fas fa-list-ul prefix light-blue-text text-darken-4"></i>
                        <input id="user-ingredients" name="user-ingredients" type="text" class="validate"
                            placeholder="Add Ingredient Here" value="{{ ingredient }}" required>
                        <label for="user-ingredients">Ingredients</label>

                    </div>

                    <div class="col s3">
                        <button type="button" id="remove-user-ingredient"
                            class="waves-effect waves-light btn red">Remove</button>
                    </div>
                </div>

                {% endfor %}

                {% else %}

                <div class="row user-ingredient-row valign-wrapper">

                    <div class="input-field col s8">

                        <i class="fas fa-list-ul prefix light-blue-text text-darken-4"></i>
                        <input id="user-ingredients" name="user-ingredients" type="text" class="validate"
                            placeholder="Add Ingredient Here" required>
                        <label for="user-ingredients">Ingredients</label>

                    </div>

                    <div class="col s3">
                        <button type="button" id="remove-user-ingredient"
                            class="waves-effect waves-light btn red">Remove</button>
                    </div>
                </div>

                {% endif %}

                <div class="row" id="add-user-ingredient-row">
                    <div class="col s12">
                        <button type="button" id="add-user-ingredient"
                            class="waves-effect waves-light btn tm-brown-bg">Add
                            Another
                            Ingredient</button>
                    </div>
                </div>
            </div>

    </div>
    <div class="modal-footer">
        <div class="center-align">
            <button type="submit" class="waves-effect waves-light btn btn-large tm-dark-green-bg">Update</a>
        </div>

    </div>
    </form>
</div>

{% endblock %}