{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">

        <h2 class="center-align white-text text-shadow">
            {{ username }}'s Profile
        </h2>

    </div>
</div>
<div class="row">
    <div class="col s12 m6 center-align">
        <a href="{{ url_for('add_recipe') }}" action="POST" class="waves-effect waves-light btn tm-dark-green-bg">Add
            Recipe</a>
    </div>
    <div class="col s12 m6 center-align">
        <a class="waves-effect waves-light btn tm-dark-green-bg modal-trigger"
            href="{{ url_for('user_ingredients', username=session['user']) }}">View your pantry</a>
    </div>
</div>

<div class="row">
    <div class="col s6">

        <ul class="tabs">
            <li class="tab col s6"><a href="#uploaded_recipes_tab">Uploaded Recipes</a></li>
            <li class="tab col s6"><a class="active" href="#favourite_recipes_tab">Favourite Recipes</a></li>
        </ul>

        <div id="uploaded_recipes_tab" class="col s12">
            <h3 class="center-align">Uploaded Recipes</h3>
            {% for recipe in recipes %}
            {% if recipe.uploaded_by|lower == session.user|lower %}

            {% include "recipe_card.html" %}

            {% endif %}

            {% endfor %}
        </div>
        <div id="favourite_recipes_tab" class="col s12">
            <h3 class="center-align">Favourite Recipes</h3>
            {% for recipe in recipes %}
            {% if session.user|lower in recipe.user_favourite %}

            {% include "recipe_card.html" %}

            {% endif %}

            {% endfor %}
        </div>




    </div>

    <div class="col s6">


    </div>
</div>

{% endblock %}