{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2 center-align">

        <!-- page header -->
        <h3>
            {{ username|title }}'s Profile
        </h3>

        <!-- delete user profile button - triggers modal as defensive measure -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="#delete_user_modal" class="modal-trigger waves-effect waves-light btn red center-align">Delete
                    User Profile <i class="fas fa-minus-square right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- main user section -->
<div class="row">
    <div class="col s12 xl6">

        <div class="row">

            <!-- section displaying user recipe details and features -->
            <div class="col s12">

                <!-- title and button to add user recipe -->
                <h3 class="center-align">Your Recipes <a href="{{ url_for('add_recipe') }}" action="POST"
                        class="waves-effect waves-light btn tm-dark-green-bg">Add <i
                            class="fas fa-plus-square right"></i></a></h3>
            </div>
        </div>

        <!-- tab display for user favourites and user uploaded recipes -->
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#favourite_recipes_tab">Favourites</a></li>
            <li class="tab col s6"><a href="#uploaded_recipes_tab">Uploaded</a></li>
        </ul>

        <!-- user favourite recipes -->
        <div id="favourite_recipes_tab" class="col s12">

            <!-- loop through recipes -->
            {% for recipe in recipes %}

            <!-- determine if recipe is a user favourite -->
            {% if session.user|lower in recipe.user_favourite %}

            <!-- display recipe if criteria met -->
            {% include "recipe_card.html" %}

            {% endif %}

            {% endfor %}
        </div>

        <!-- user uploaded recipes -->
        <div id="uploaded_recipes_tab" class="col s12">

            <!-- loop through recipes -->
            {% for recipe in recipes %}

            <!-- determine if recipe was uploaded by user -->
            {% if recipe.uploaded_by|lower == session.user|lower %}

            <!-- display recipe if criteria met -->
            {% include "recipe_card.html" %}

            {% endif %}

            {% endfor %}
        </div>




    </div>

    <!-- section to display the user pantry details -->
    <div class="col s12 xl6">
        <div class="row">

            <!-- title and button to update ingredients in user pantry - triggers modal -->
            <div class="col s12">
                <span>
                    <h3 class="center-align">Pantry <a
                            class="waves-effect waves-light btn tm-dark-green-bg modal-trigger"
                            href="#user_ingredients_modal">Update <i class="fas fa-plus-square right"></i></a></h3>
                </span>
            </div>
        </div>

        <!-- pantry card. Copied from materialize and modified -->
        <div class="card user-ingredients-card r10">
            <div class="card-content">

                <!-- prompt and information to user to add ingredients to their pantry -->
                <span class="card-title">
                    <small class="text-italic">Update what you've got in your kitchen to match recipes to use up
                        your
                        leftovers</small>
                </span>

                <!-- user pantry ingredients -->
                <h5 class="center-align">Your Ingredients</h5>
                <ul class="center-align">

                    <!-- loop through user ingredients -->
                    {% for ingredient in user_ingredients %}

                    <li><strong>{{ ingredient.title() }}</strong></li>

                    {% endfor %}


                </ul>

            </div>

            <!-- button view search results based on user pantry ingredients -->
            <div class="card-action center-align">

                <a class="waves-effect waves-light btn tm-dark-green-bg modal-trigger"
                    href="{{ url_for('pantry_search', username=session['user']) }}">View Matching Recipes</a>

            </div>

        </div>
    </div>
</div>

<!-- Ingredients Modal Structure -->
<div id="user_ingredients_modal" class="modal">
    <div class="modal-content">
        <!-- form to update user panty ingredients -->
        <form class="col s12" method="POST" action="{{ url_for('update_ingredients', username=session['user']) }}">
            <div id="user-ingredient-row-parent">

                <!-- if user ingredients db is not empty, populate form with existing data -->
                {% if user_ingredients != [] %}

                <!-- add new row for each ingredient -->
                {% for ingredient in user_ingredients %}

                <div class="row user-ingredient-row valign-wrapper">

                    <div class="input-field col s8">

                        <!-- ingredient input -->
                        <i class="fas fa-list-ul prefix tm-brown-text"></i>
                        <input id="user-ingredients" name="user-ingredients" type="text" class="validate"
                            placeholder="Add Ingredient Here" value="{{ ingredient }}" required>
                        <label for="user-ingredients">Ingredients</label>

                    </div>

                    <!-- button to trigger javascript function to remove row -->
                    <div class="col s3">
                        <button type="button" id="remove-user-ingredient"
                            class="waves-effect waves-light btn red">Remove</button>
                    </div>
                </div>

                {% endfor %}

                <!-- if ingredients field is empty, display blank input row -->
                {% else %}

                <div class="row user-ingredient-row valign-wrapper">

                    <div class="input-field col s8">

                        <!-- ingredient input -->
                        <i class="fas fa-list-ul prefix light-blue-text text-darken-4"></i>
                        <input id="user-ingredients" name="user-ingredients" type="text" class="validate"
                            placeholder="Add Ingredient Here" required>
                        <label for="user-ingredients">Ingredients</label>

                    </div>

                    <!-- button to trigger javascript function to remove row -->
                    <div class="col s3">
                        <button type="button" id="remove-user-ingredient"
                            class="waves-effect waves-light btn red">Remove</button>
                    </div>
                </div>

                {% endif %}

                <!-- button to trigger javascript function to add another ingredient row -->
                <div class="row" id="add-user-ingredient-row">
                    <div class="col s12">
                        <button type="button" id="add-user-ingredient"
                            class="waves-effect waves-light btn tm-brown-bg">Add
                            Another
                            Ingredient</button>
                    </div>
                </div>
            </div>

    </div>

    <!-- submit to update db -->
    <div class="modal-footer">
        <div class="center-align">
            <button type="submit" class="waves-effect waves-light btn btn-large tm-dark-green-bg">Update</a>
        </div>

    </div>
    </form>
</div>

<!-- Delete user Modal Structure -->
<div id="delete_user_modal" class="modal">
    <div class="modal-content center-align">

        <!-- text to warn user of action -->
        <h3>Are you sure you want to delete your profile?</h3> <br>
        <h4>This cannot be undone!</h4>

    </div>
    <div class="modal-footer">
        <div class="center-align">

            <!-- delete user button -->
            <a href="{{ url_for('delete_user', username=session['user']) }}"
                class="waves-effect waves-light btn btn-large red">Yes! Delete my
                profile <i class="fas fa-minus-square right"></i></a>

            <!-- exit modal button -->
            <a href="#!" class="waves-effect waves-light btn btn-large modal-close tm-dark-green-bg">No, I've changed my
                mind</a>
        </div>
    </div>
    </form>
</div>

{% endblock %}