{% extends "base.html" %}

{% block content %}

<h1 class="center-align">Recipes</h1>

<div class="row ">
    <form action="{{ url_for('search') }}" method="post" class="col s12 xl8 offset-xl2 card-panel grey lighten-5 r-10">
        <div class="row center-align valign-wrapper">
            <div class="input-field col s8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Recipes</label>
            </div>
            <div class="col s4">

                <button type="submit" class="tm-dark-green-bg btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>


            </div>
        </div>
        <div class="row center-align">
            <div class="col s12">

                {% if (session.user) %}
                <a href="{{ url_for('pantry_search', username=session['user']) }}"
                    class="tm-dark-green-bg btn text-shadow">Use Pantry</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="tm-dark-green-bg btn text-shadow">Login to use Pantry</a>
                {% endif %}

                <a href="{{ url_for('recipes') }}" class="red btn text-shadow">Reset</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <span><strong>Make sure your profile pantry is up to date! <br>Make the most of what you've got, and
                        reduce your
                        waste!</strong></span>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12 xl8 offset-xl2">

        {% for recipe in recipes %}

        {% include "recipe_card.html" %}

        {% endfor %}

    </div>
</div>

{% endblock %}