<div class="row">
    <div class="card horizontal small col s12">
        <div class="card-image">
            <img src="{{ recipe.recipe_image }}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div class="row recipe-card-row">
                    <div class="col s12 l6">
                        <strong>{{ recipe.recipe_name }}</strong><br>
                    </div>
                    <div class="col s12 l6">
                        <span>User Favourite: {{ recipe.user_favourite|length }}</span> <br>
                        <span>Made {{ recipe.recipe_made_count|length }} times</span>

                    </div>
                </div>
                <div class="row">
                    <div class="col s7 m5">
                        <span><strong>Prep:</strong> {{ recipe.prep_time }}min</span><br>
                        <span><strong>Cook:</strong> {{ recipe.cook_time }}min</span>
                    </div>



                    <div class="col s5 m7 center-align">
                        <a href="{{ url_for('recipe_ingredients', recipe_id=recipe._id) }}"
                            class="waves-effect waves-light btn tm-dark-green-bg">View</a>

                        {% if (session.user) and (recipe.uploaded_by|lower == session.user|lower) %}

                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                            class="waves-effect waves-light btn tm-brown-bg">Edit</a>
                        {% endif %}
                    </div>
                </div>
                <!-- <hr class="w-80">
                <div class="row">
                    <div class="col s12 l6">
                        <span>User Favourite: {{ recipe.user_favourite|length }}</span>
                    </div>
                    <div class="col s12 l6">
                        <span>Made {{ recipe.recipe_made_count|length }} times</span>
                    </div>

                </div> -->


            </div>
        </div>
    </div>
</div>