<div class="row">
    <div class="card horizontal small col s12">
        <div class="card-image">
            <img src="{{ recipe.image }}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div class="row">
                    <div class="col">
                        <strong>{{ recipe.recipe_name }}</strong><br>
                        <small class="hide">{{ recipe.recipe_summary }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <strong>Prep:</strong> {{ recipe.prep_time }}min<br>
                        <strong>Cook:</strong> {{ recipe.cook_time }}min
                    </div>
                    <div class="col s4">
                        <a href="{{ url_for('recipe_ingredients', recipe_id=recipe._id) }}"
                            class="waves-effect waves-light btn tm-dark-green-bg">View</a>
                    </div>
                    {% if recipe.uploaded_by|lower == session.user|lower %}
                    <div class="col s2">
                        <a href="" class="waves-effect waves-light btn tm-brown-bg">Edit</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- <div class="card-action center-align">
            <a class="waves-effect waves-light btn tm-dark-green-bg">View Details</a>
        </div> -->
        </div>
    </div>
</div>