{% extends "base.html" %}

{% block content %}

<!-- page header -->
<h3 class="center-align">Register</h3>

<!-- form for user to register. Template copied from materialize and modified. -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">

        <!-- csrf token for use by wtforms validation in the backend -->
        {{ form.csrf_token }}

        <div class="card-panel">

            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix tm-brown-text"></i>
                    <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$"
                        placeholder="5-15 characters, alphanumeric only" class="validate" minlength="5" maxlength="15">
                    <label for="username">Username</label>
                </div>
            </div>

            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix tm-brown-text"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" placeholder="5-15 characters, alphanumeric only" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>

            <!-- register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large tm-dark-green-bg text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- prompt to login if already register -->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Registered?
            <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
        </p>
    </div>
</div>

{% endblock %}