{% extends "base.html" %}

{% block content %}


<form class="col s12" method="POST" action="">
    <div class="row card-panel grey lighten-5">

        <!-- user ingredients -->
        <!-- <h5>Ingredients</h5> -->
        <div class="row user-ingredient-row valign-wrapper">

            <div class="input-field col s8">

                <i class="fas fa-list-ul prefix light-blue-text text-darken-4"></i>
                <input id="user_ingredients" name="user_ingredients" type="text" class="validate"
                    placeholder="Add Ingredient Here" required>
                <label for="user_ingredients">Ingredients</label>

            </div>

            <div class="col s3">
                <button type="button" id="remove-user-ingredient"
                    class="waves-effect waves-light btn red">Remove</button>
            </div>
        </div>

        <div class="row" id="add-user-ingredient">
            <div class="col s12">
                <button type="button" id="add-user-ingredient" class="waves-effect waves-light btn tm-dark-green-bg">Add
                    Another
                    Ingredient</button>
            </div>
        </div>

    </div>
    <!-- submit -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn btn-large tm-dark-green-bg text-shaddow">Update<i
                    class="fas fa-plus-square right"></i></button>
        </div>
    </div>
</form>


{% endblock %}